@model X.PagedList.IPagedList<string>

@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Web.Common

<h2>Fizz-Buzz Result</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @if (item == "fizz")
            {
                <span style="color: blue;">@item</span>
            }
            else if (item == "buzz")
            {
                <span style="color: green;">@item</span>
            }
            else
            {
                @item
            }
        </li>
    }
</ul>

<div class="pagination" style="text-align: center;">
    @if (Model.PageCount >= 1)
    {
        <ul class="pagination">
            @if (Model.HasPreviousPage)
            {
                <li style="display: inline-block; margin: 0 5px;">
                    <a href="@Url.Action("Index2", new { page = Model.PageNumber - 1, number = Model.TotalItemCount })" class="pagination-button" style="padding: 5px 10px; text-decoration: none; background-color: #007bff; color: #fff; border-radius: 5px;">Previous</a>
                </li>
            }

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="@(i == Model.PageNumber ? "active" : "")" style="display: inline-block; margin: 0 5px;">
                    <a href="@Url.Action("Index2", new { page = i, number = Model.TotalItemCount })" class="pagination-button" style="padding: 5px 10px; text-decoration: none; background-color: #007bff; color: #fff; border-radius: 5px;">@i</a>
                </li>
            }

            @if (Model.HasNextPage)
            {
                <li style="display: inline-block; margin: 0 5px;">
                    <a href="@Url.Action("Index2", new { page = Model.PageNumber + 1, number = Model.TotalItemCount })" class="pagination-button" style="padding: 5px 10px; text-decoration: none; background-color: #007bff; color: #fff; border-radius: 5px;">Next</a>
                </li>
            }
        </ul>
    }
</div>

